html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

header {
  background-image: url("../img/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 90%;
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
}

.container .grid-item {
  padding: 0px 6px;
}

.container .grid-item .col-2 {
  width: 16.6666667%;
}

.container .grid-item .col-8 {
  width: 66.6666667%;
}

.container .grid-item .ml-2 {
  margin-left: 16.6666667%;
}

.container .one-col-grid,
.container .two-col-grid,
.container .three-col-grid,
.container .four-col-grid,
.container .five-col-grid,
.container .six-col-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .one-col-grid .grid-item {
  width: 100%;
}

.container .two-col-grid .grid-item {
  width: 50%;
}

.container .three-col-grid .grid-item {
  width: 33.3333%;
}

.container .four-col-grid .grid-item {
  width: 25%;
}

.container .five-col-grid .grid-item {
  width: 20%;
}

.container .six-col-grid .grid-item {
  width: 16.6666667%;
}

.create-acc-btn-wrapper {
  margin-top: 40px;
  text-align: center;
}

.create-acc-btn-wrapper .create-acc-btn {
  display: inline-block;
  font-size: 24px;
  padding: 16px 50px;
  font-weight: bold;
  background-color: #77b53c;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.create-acc-btn-wrapper .create-acc-btn:hover {
  background-color: #5a8f28;
}

header .logo {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo .logo__img {
  -webkit-mask-image: url(../img/logo.svg);
          mask-image: url(../img/logo.svg);
  width: 65px;
  height: 16px;
  background-color: #fff;
}

header .logo .logo__p {
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

header .date {
  margin-top: 32px;
}

header .date .date__p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

header .main-heading-wrapper {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

header .main-heading-wrapper .main-heading {
  margin: 0;
  font-size: 80px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  line-height: 100%;
}

header .domen-checker {
  margin-top: 70px;
  position: relative;
  border-radius: 7px;
  background-color: #33393f;
}

header .domen-checker .domen-checker__input {
  width: 100%;
  font-size: 24px;
  padding: 25px 35px;
  border: none;
  border-radius: 7px;
}

header .domen-checker .domen-checker__input:focus {
  outline: none;
}

header .domen-checker .domen-checker__button {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 22px;
  background-color: #5f6062;
  color: #fff;
  outline: none;
  border: none;
  padding: 15px 30px;
  border-radius: 7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

header .domen-checker .domen-checker__button:hover {
  background-color: #33393f;
}

header .domen-checker .domen-checker__alert_free {
  display: none;
  margin: 0px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 15px 0px;
}

header .domen-checker .alert-reg {
  margin-left: 5px;
  color: #77b53c;
}

header .domen-checker .alert-active {
  display: block;
}

header .down-btn-wrapper {
  display: block;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 60px;
}

header .down-btn-wrapper .down-btn {
  width: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

header .down-btn-wrapper .down-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.advantages .logo {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .logo .logo__img {
  -webkit-mask-image: url(../img/logo.svg);
          mask-image: url(../img/logo.svg);
  width: 65px;
  height: 16px;
  background-color: #b22725;
}

.advantages .logo .logo__p {
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}

.advantages .section-heading-wrapper {
  margin: 0 auto;
}

.advantages .section-heading-wrapper .section-heading {
  margin: 0px;
  margin-top: 60px;
  font-size: 35px;
  text-align: center;
}

.advantages .card-collection {
  margin-top: 60px;
}

.advantages .card-collection .card-wrapper .card {
  cursor: pointer;
  text-align: center;
}

.advantages .card-collection .card-wrapper .card .card__img {
  text-align: center;
}

.advantages .card-collection .card-wrapper .card .card__h3 {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

.advantages .description-wrapper {
  position: relative;
  z-index: 1;
}

.advantages .description-wrapper .description {
  display: none;
  font-size: 16px;
  padding: 25px 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid rgba(95, 96, 98, 0.5);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.advantages .description-wrapper .description:after {
  display: none;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 1px solid rgba(95, 96, 98, 0.5);
  border-right: 1px solid rgba(95, 96, 98, 0.5);
  background-color: #f7f7f7;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.advantages .description-wrapper .description_active {
  opacity: 1;
  display: block;
}

.advantages .description-wrapper .landing:after,
.advantages .description-wrapper .dns:after,
.advantages .description-wrapper .certificate:after,
.advantages .description-wrapper .auto:after {
  top: 6px;
  display: block;
}

.advantages .description-wrapper .landing:after {
  left: 11%;
}

.advantages .description-wrapper .dns:after {
  left: 36%;
}

.advantages .description-wrapper .certificate:after {
  left: 61%;
}

.advantages .description-wrapper .auto:after {
  left: 86%;
}

.advantages .description-wrapper .cloud:after,
.advantages .description-wrapper .ssl:after,
.advantages .description-wrapper .dnssec:after,
.advantages .description-wrapper .redirect:after {
  bottom: 6px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  display: block;
}

.advantages .description-wrapper .cloud:after {
  left: 11%;
}

.advantages .description-wrapper .ssl:after {
  left: 36%;
}

.advantages .description-wrapper .dnssec:after {
  left: 61%;
}

.advantages .description-wrapper .redirect:after {
  left: 86%;
}

.advantages .second-collection {
  margin-top: 15px;
}

.advantages .create-acc-btn-wrapper_second {
  margin-bottom: 70px;
}

footer {
  background-image: url("../img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .logo {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo .logo__img {
  -webkit-mask-image: url(../img/logo.svg);
          mask-image: url(../img/logo.svg);
  width: 65px;
  height: 16px;
  background-color: #fff;
}

footer .logo .logo__p {
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

footer .sub-heading-wrapper {
  margin: 0 auto;
  margin-top: 60px;
}

footer .sub-heading-wrapper .sub-heading {
  margin: 0;
  text-align: center;
  font-size: 35px;
  color: #fff;
}

footer .main-heading-wrapper {
  margin: 0 auto;
  margin-top: 80px;
}

footer .main-heading-wrapper .main-heading {
  margin: 0;
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

footer .promotion-text-wrapper {
  margin-top: 50px;
  position: relative;
  background-color: #df4a5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .promotion-text-wrapper .promotion-text {
  width: 80%;
  margin: 0;
  padding: 30px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

footer .promotion-text-wrapper .promotion-text .promotion-text_bold {
  font-weight: bold;
}

footer .promotion-text-wrapper .promotion-text .promotion-text-link {
  color: #fff;
}

footer .promotion-text-wrapper .promotion-logo {
  width: 20%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .promotion-text-wrapper .promotion-logo:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 20%;
  left: -40px;
}

footer .promotion-text-wrapper .promotion-logo .logo-number {
  font-size: 50px;
  color: #fff;
  margin: 0;
  margin-top: 20px;
}

footer .promotion-text-wrapper .promotion-logo .logo-img {
  position: absolute;
  -webkit-transform: scale(0.08);
          transform: scale(0.08);
  -webkit-mask-image: url(../img/plus-bold.svg);
          mask-image: url(../img/plus-bold.svg);
  width: 515px;
  height: 510px;
  top: -205px;
  right: -90%;
  background-color: #fff;
}

footer .copyright-wrapper {
  margin-top: 50px;
  margin-bottom: 40px;
}

footer .copyright-wrapper .copyright {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

.navigtaion-wrapper {
  position: fixed;
  top: 45%;
  right: 5%;
  z-index: 99;
}

.navigtaion-wrapper .navigtaion {
  width: 16px;
}

.navigtaion-wrapper .navigtaion .navigtaion__dot {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  margin-bottom: 16px;
}

.navigtaion-wrapper .navigtaion .navigtaion__dot_active {
  background-color: #333;
  border: 1px solid #fff;
}
/*# sourceMappingURL=main.css.map */